name: Auto Build

on:
  push:
    tags:
      - 'Build v*' # v1.0, v1.2.3 등의 태그가 생성될 때 실행

jobs:
  build:
    runs-on: ubuntu-latest
    # 모든 run 명령어를 android 폴더 기준에서 실행하도록 설정
    defaults:
      run:
        working-directory: ./android 

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Decode Keystore
        run: |
          # android/app 폴더 안에 생성되도록 경로 지정
          echo "${{ secrets.KEYSTORE }}" | tr -d '\n ' | base64 --decode > app/release.keystore

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build Release APK
        run: ./gradlew assembleRelease
        env:
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}

      - name: Create Release and Upload APK
        uses: softprops/action-gh-release@v2
        with:
          # APK 파일 위치도 android 폴더 기준으로 변경됨
          files: android/app/build/outputs/apk/release/app-release.apk
          name: ${{ github.ref_name }}
          tag_name: ${{ github.ref }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
