body {
  font-family: 'KoPubWorld Batang', serif;
  /* KoPubWorld Batang 폰트 적용 */
  overflow: hidden;
  /* 수평 및 수직 스크롤 숨기기 */
}

main {
  position: relative;
  padding: 2lh;
  height: 100vh;
  /* 화면 전체 높이 */
  overflow: hidden;
  /* .content 영역에만 스크롤 적용 */
}

body * {
  touch-action: none;
}

.white,
.white .loading {
  background-color: white;
}

.black,
.black .loading {
  background-color: black;
}

.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
}

.white a {
  color: black;
}

.black,
.black a {
  color: white;
}

.content {
  height: 100%;
  overflow-y: scroll;
  /* 수직 스크롤바 표시 */
  overflow-x: hidden;
  /* 수평 스크롤바 숨기기 */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer, Edge */
}

.content::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

img {
  width: 100%;
  /* 이미지 가로폭을 페이지에 맞게 조정 */
  height: auto;
  /* 이미지 비율 유지 */
  display: block;
  /* 이미지를 블록처럼 표시하여 위아래 여백 제거 */
  margin: 20px 0;
  /* 이미지 상하 여백 설정 */
}

a {
  display: block;
  /* 줄바꿈 효과 */
  margin: 0;
  /* 간격 제거 */
  padding: 0;
}

.image-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container>img {
  width: 100%;
  height: auto;
  margin: 0;
}

a:link {
  font-family: 'KoPubWorld Dotum', sans-serif;
  /* KoPubWorld Dotum 폰트 적용 */
  text-decoration: underline;
}

.content>*:has(a:link) {
  z-index: 10;
}

#page-indicator {
  position: absolute;
  bottom: .5lh;
  left: 50%;
  transform: translateX(-50%);
  background-color: none;
  font-size: .5lh;
  font-family: 'KoPubWorld Dotum', sans-serif;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#page-indicator.show {
  opacity: 1;
  transition: none;
}