.list-frame {
    position: relative;
    padding: 0 3em
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1em;
    width: 100%;
    height: 100%;
    align-content: start;
    box-sizing: border-box;
}

.book-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    border-radius: 0.6em;
    margin: 0 auto;
    -webkit-touch-callout: none;
    /* iOS long press 메뉴 차단 */
    -webkit-user-select: none;
    /* 텍스트 선택 방지 */
    user-select: none;
}

.cover {
    width: 100%;
    aspect-ratio: 3/4;
    background: #fff;
    overflow: hidden;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.3);
    flex-shrink: 0;
    z-index: 5;
}

.black .cover {
    background: black;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.cover img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    position: relative;
    z-index: 5;
}

.cover img[src=""] {
    display: none;
}

.black .cover img[src][src="/placeholder.png"] {
    filter: invert(100%);
}

.meta {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    height: 2em;
}

.title {
    display: block;
    font-size: .7em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
}

.author {
    display: block;
    font-size: .7em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: gray;
}

.banner-controls {
    position: absolute;
    inset: 0;
}

.banner-controls>.banner-btn {
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    background: transparent;
    border: none;
    padding: 0;
}

.banner-left {
    left: 0;
}

.banner-right {
    right: 0;
}

.banner-icon {
    font-size: 3em;
    user-select: none;
    line-height: 1;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

.white a {
    color: black;
}

.black,
.black a {
    color: white;
}